---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~/picture-urls::(original)?oauth2_access_token=invalid_token&secure-urls=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Li-Request-Id:
      - Y5HYR0MWLF
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - prod-ltx1
      X-Li-Pop:
      - prod-esp2-yeah
      X-Li-Proto:
      - http/1.1
      X-Li-Route-Key:
      - '"b=TB15:g=962:u=1:i=1496677281:t=1496763681:s=AQEaJ9u4-IPHt2bpf-RcKfN5J9-4pEDD"'
      X-Li-Uuid:
      - SQ7vyg5ExRTAq65JVCsAAA==
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errorCode": 0,
          "message": "Invalid access token.",
          "requestId": "Y5HYR0MWLF",
          "status": 401,
          "timestamp": 1496677281724
        }
  recorded_at: Mon, 05 Jun 2017 15:41:21 GMT
recorded_with: VCR 3.0.3
