---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~?oauth2_access_token=AQVMYAwQRTiYnneCk-k8V5JURAKqipJh2yvco8jJU6fktRlrCg_qjxcVg1QfrknrIPhpiSqSYdMaYoVr8y9I4vOaecGBHVV-1YIMSEWtLqz9op6tj39jlVij-xLTOk8HjyHq-Jf6-wC7a6MTYMibe_FM-FHeYrqHkiYM_1myJ45ItDpLafw&secure-urls=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Li-Request-Id:
      - GB6DVYYLYF
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - prod-ltx1
      X-Li-Pop:
      - prod-esp2-yeah
      X-Li-Proto:
      - http/1.1
      X-Li-Route-Key:
      - '"b=TGST05:g=401:u=1:i=1496677280:t=1496759017:s=AQF5xi2J_rAbdAq25pMtc3qCczCM7lIW"'
      X-Li-Uuid:
      - XsU3lQ5ExRRAeVE6VCsAAA==
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "firstName": "Aplicativo",
          "headline": "Senior Web Application Developer na FAKE",
          "id": "QluzqM654m",
          "lastName": "RC",
          "siteStandardProfileRequest": {"url": "https://www.linkedin.com/profile/view?id=AAoAACMBINwBfIeBvd7gCPOv2ax-Lm-Yxr8w-z4&authType=name&authToken=RMC1&trk=api*a4460734*s4525754*"}
        }
  recorded_at: Mon, 05 Jun 2017 15:41:20 GMT
recorded_with: VCR 3.0.3
