---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/companies/22302249:(id,name,description,logo-url)?oauth2_access_token=invalid_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Li-Request-Id:
      - MN15IIVYD1
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - prod-ltx1
      X-Li-Pop:
      - prod-esp2-yeah
      X-Li-Proto:
      - http/1.1
      X-Li-Route-Key:
      - '"b=TB15:g=962:u=1:i=1496677283:t=1496763683:s=AQGdyzP-x504hjDv_3zn4vzLN3JqGHUK"'
      X-Li-Uuid:
      - MAFSHw9ExRRAWJ/UVCsAAA==
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errorCode": 0,
          "message": "Invalid access token.",
          "requestId": "MN15IIVYD1",
          "status": 401,
          "timestamp": 1496677283153
        }
  recorded_at: Mon, 05 Jun 2017 15:41:22 GMT
recorded_with: VCR 3.0.3
