---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/companies/1:(id,name,description,logo-url)?oauth2_access_token=AQVMYAwQRTiYnneCk-k8V5JURAKqipJh2yvco8jJU6fktRlrCg_qjxcVg1QfrknrIPhpiSqSYdMaYoVr8y9I4vOaecGBHVV-1YIMSEWtLqz9op6tj39jlVij-xLTOk8HjyHq-Jf6-wC7a6MTYMibe_FM-FHeYrqHkiYM_1myJ45ItDpLafw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Li-Request-Id:
      - VPMSL53FZJ
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - prod-ltx1
      X-Li-Pop:
      - prod-esp2-yeah
      X-Li-Proto:
      - http/1.1
      X-Li-Route-Key:
      - '"b=TGST05:g=401:u=1:i=1496677283:t=1496759017:s=AQGhZ9cTWU-3sBWGWS4Qgnt5ym2rYGW2"'
      X-Li-Uuid:
      - AAj+Ng9ExRQAveWxVCsAAA==
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errorCode": 0,
          "message": "Did not find company with ID { 1 }",
          "requestId": "VPMSL53FZJ",
          "status": 404,
          "timestamp": 1496677283580
        }
  recorded_at: Mon, 05 Jun 2017 15:41:23 GMT
recorded_with: VCR 3.0.3
