---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/companies/~:(id,name,description,logo-url)?oauth2_access_token=AQVMYAwQRTiYnneCk-k8V5JURAKqipJh2yvco8jJU6fktRlrCg_qjxcVg1QfrknrIPhpiSqSYdMaYoVr8y9I4vOaecGBHVV-1YIMSEWtLqz9op6tj39jlVij-xLTOk8HjyHq-Jf6-wC7a6MTYMibe_FM-FHeYrqHkiYM_1myJ45ItDpLafw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Li-Request-Id:
      - YZT4LYEKR2
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - prod-ltx1
      X-Li-Pop:
      - prod-esp2-yeah
      X-Li-Proto:
      - http/1.1
      X-Li-Route-Key:
      - '"b=TGST05:g=401:u=1:i=1496677281:t=1496759017:s=AQFGdeOFD4ungriHJrx65-YZ3AQv5y-0"'
      X-Li-Uuid:
      - 0bP04Q5ExRTABJU9VCsAAA==
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errorCode": 0,
          "message": "Invalid value {~} in key {id}",
          "requestId": "YZT4LYEKR2",
          "status": 400,
          "timestamp": 1496677282220
        }
  recorded_at: Mon, 05 Jun 2017 15:41:21 GMT
recorded_with: VCR 3.0.3
