---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/me/photos
    body:
      encoding: UTF-8
      string: access_token=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa&caption=My+post&url=https%3A%2F%2Fwww.w3schools.com%2Fcss%2Fparis.jpg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"GFFWS+YhPez"}}'
  recorded_at: Thu, 17 May 2018 20:27:47 GMT
recorded_with: VCR 4.0.0
