---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "access_token",
          "expires_in" : 3600,
          "id_token" : "id_token",
          "token_type" : "Bearer"
        }
  recorded_at: Thu, 14 Sep 2017 17:43:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts/~all/webproperties/~all/profiles
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/", error=insufficient_scope, scope="https://www.googleapis.com/auth/analytics"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"errors":[{"domain":"global","reason":"insufficientPermissions","message":"User
        does not have any Google Analytics account."}],"code":403,"message":"User
        does not have any Google Analytics account."}}'
  recorded_at: Thu, 14 Sep 2017 17:43:03 GMT
recorded_with: VCR 3.0.3
