---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~?oauth2_access_token=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa&secure-urls=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Li-Request-Id:
      - HS4WN2JTKA
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - prod-ltx1
      X-Li-Pop:
      - prod-esp2-yeah
      X-Li-Proto:
      - http/1.1
      X-Li-Route-Key:
      - '"b=TB15:g=962:u=1:i=1496677285:t=1496763685:s=AQHiVrRMjVR2dwQpkWZrBSKamWHZ6pMA"'
      X-Li-Uuid:
      - qQ9Mvg9ExRTAngLGVSsAAA==
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errorCode": 0,
          "message": "Invalid access token.",
          "requestId": "HS4WN2JTKA",
          "status": 401,
          "timestamp": 1496677285819
        }
  recorded_at: Mon, 05 Jun 2017 15:41:25 GMT
recorded_with: VCR 3.0.3
