---
http_interactions:
- request:
    method: post
    uri: https://api.linkedin.com/v1/people/~/shares?oauth2_access_token=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    body:
      encoding: UTF-8
      string: '{"visibility":{"code":"anyone"},"content":{"title":"","submitted-url":"https://rockcontent.com","submitted-image-url":"https://s3-us-west-2.amazonaws.com/rc2-development/img/branco.jpg"},"comment":"My
        post"}'
    headers:
      X-Li-Format:
      - json
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Li-Request-Id:
      - EDSGQEPGC5
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-esp2
      X-Li-Proto:
      - http/1.1
      X-Li-Route-Key:
      - '"b=VB59:g=1286:u=1:i=1526589802:t=1526676202:s=AQHefMXfbWViBADd4WYaV-brs4aQk_CF"'
      X-Li-Uuid:
      - UJjTS1aJLxVwkpNFVCsAAA==
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errorCode": 0,
          "message": "Invalid access token.",
          "requestId": "EDSGQEPGC5",
          "status": 401,
          "timestamp": 1526589802710
        }
  recorded_at: Thu, 17 May 2018 20:43:22 GMT
recorded_with: VCR 4.0.0
