---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/companies/~:(id,name,description,logo-url)?oauth2_access_token=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Li-Request-Id:
      - 3XL1KYT8DT
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - prod-ltx1
      X-Li-Pop:
      - prod-esp2-yeah
      X-Li-Proto:
      - http/1.1
      X-Li-Route-Key:
      - '"b=TB15:g=962:u=1:i=1496677284:t=1496763684:s=AQEvoKtLvfcgFS2AYHQp0bwQbyKv_gaM"'
      X-Li-Uuid:
      - YDMfgg9ExRTABA3EVSsAAA==
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errorCode": 0,
          "message": "Invalid access token.",
          "requestId": "3XL1KYT8DT",
          "status": 401,
          "timestamp": 1496677284821
        }
  recorded_at: Mon, 05 Jun 2017 15:41:24 GMT
recorded_with: VCR 3.0.3
