---
http_interactions:
- request:
    method: post
    uri: https://api.medium.com/v1/publications/d3595794a6af/posts
    body:
      encoding: UTF-8
      string: title=My+Article&contentFormat=html&content=%3Ch1%3EMy+Article%3C%2Fh1%3EMy+Article+Body&publishStatus=draft
    headers:
      Authorization:
      - Bearer aaaaaaaaaaaaaaaaaaaaaaaa
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Obvious-Info:
      - 30790-eccdf7c,eccdf7c74d
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      X-Opentracing:
      - '{"ot-tracer-spanid":"27c7f49b2c71f50e","ot-tracer-traceid":"10f8c16a7ce0ba8d","ot-tracer-sampled":"true"}'
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Token was invalid.","code":6003}]}'
  recorded_at: Tue, 26 Sep 2017 19:03:28 GMT
recorded_with: VCR 3.0.3
