---
http_interactions:
- request:
    method: post
    uri: https://api.medium.com/v1/tokens
    body:
      encoding: UTF-8
      string: code=aaaaaaaaaa&client_id=fca79cdd39b6&client_secret=813383ad8fd1a394e0d278dde6a712371fe4b1b7&grant_type=authorization_code&redirect_uri=http%3A%2F%2Flvh.me%3A3020%2Fintegrations%2Fauth%2Fmedium%2Fcallback
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Obvious-Info:
      - 30666-d433cf3,d433cf3da1
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Tk:
      - T
      X-Opentracing:
      - '{"ot-tracer-spanid":"4ab6ad5408f7b7ae","ot-tracer-traceid":"1e236ed0278204cf","ot-tracer-sampled":"true"}'
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Authorization code not found.","code":6016}]}'
  recorded_at: Tue, 19 Sep 2017 13:41:28 GMT
recorded_with: VCR 3.0.3
