---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: media_ids&status=My+post
    headers:
      Authorization:
      - OAuth oauth_consumer_key="aJm6eTORJLqkpCpJZzTBiDCBO", oauth_nonce="eb1f09c665f7fbad9fa3cf9f49c829b4",
        oauth_signature="%2BljKBXC5QhXnhU1ZdK%2BuJBxIfNg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1526651889", oauth_token="871757613222047744-LuERkhfXKoJynkNDzZY4EI3Qg50YV6c",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 18 May 2018 13:58:09 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 796a020c5fba34612feb87d697f7011c
      X-Response-Time:
      - '150'
      X-Transaction:
      - 00337e1600b68f34
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":187,"message":"Status is a duplicate."}]}'
  recorded_at: Fri, 18 May 2018 13:58:10 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="aJm6eTORJLqkpCpJZzTBiDCBO", oauth_nonce="2981bcfab3c4a6b9754e374f4c20f73c",
        oauth_signature="zjn0yTQ1PiiEgzfjxFSwd61GHAQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1526651890", oauth_token="871757613222047744-LuERkhfXKoJynkNDzZY4EI3Qg50YV6c",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 18 May 2018 13:58:09 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 6e69b83bbfd76d8a5766b3011490229b
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1526652789'
      X-Response-Time:
      - '208'
      X-Transaction:
      - 00b1f121005df0d8
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri May 18 13:58:07 +0000 2018","id":997476429775429632,"id_str":"997476429775429632","text":"https:\/\/t.co\/axtsJH9NJL","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":997476427325849600,"id_str":"997476427325849600","indices":[0,23],"media_url":"http:\/\/pbs.twimg.com\/media\/Dde_hpqVQAAKmm9.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Dde_hpqVQAAKmm9.jpg","url":"https:\/\/t.co\/axtsJH9NJL","display_url":"pic.twitter.com\/axtsJH9NJL","expanded_url":"https:\/\/twitter.com\/aplicativo_rc\/status\/997476429775429632\/photo\/1","type":"photo","sizes":{"medium":{"w":16,"h":16,"resize":"fit"},"small":{"w":16,"h":16,"resize":"fit"},"thumb":{"w":16,"h":16,"resize":"crop"},"large":{"w":16,"h":16,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":997476427325849600,"id_str":"997476427325849600","indices":[0,23],"media_url":"http:\/\/pbs.twimg.com\/media\/Dde_hpqVQAAKmm9.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Dde_hpqVQAAKmm9.jpg","url":"https:\/\/t.co\/axtsJH9NJL","display_url":"pic.twitter.com\/axtsJH9NJL","expanded_url":"https:\/\/twitter.com\/aplicativo_rc\/status\/997476429775429632\/photo\/1","type":"photo","sizes":{"medium":{"w":16,"h":16,"resize":"fit"},"small":{"w":16,"h":16,"resize":"fit"},"thumb":{"w":16,"h":16,"resize":"crop"},"large":{"w":16,"h":16,"resize":"fit"}}}]},"source":"\u003ca
        href=\"https:\/\/app.rockcontent.com\/\" rel=\"nofollow\"\u003eAplicativo
        Rock Content\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":871757613222047744,"id_str":"871757613222047744","name":"Aplicativo
        RC","screen_name":"aplicativo_rc","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":1,"listed_count":0,"created_at":"Mon
        Jun 05 15:56:26 +0000 2017","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":191,"lang":"pt","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/871759165215166468\/xiSUqwRD_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/871759165215166468\/xiSUqwRD_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"und"}]'
  recorded_at: Fri, 18 May 2018 13:58:10 GMT
recorded_with: VCR 4.0.0
