---
http_interactions:
- request:
    method: get
    uri: http://api.buzzsumo.com/search/articles.json?api_key=api_key&num_days=99999&num_results=100&page=0&q=http://blog-url/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Reset:
      - '1502117505'
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Month-Remaining:
      - '98809'
      X-Ratelimit-Remaining:
      - '9'
      Etag:
      - '"ce519d868ad1459c90b2be3472125fea"'
    body:
      encoding: UTF-8
      string: '{"results":[],"total_pages":0,"display_code":null,"search_type":"domainSearch"}'
  recorded_at: Mon, 07 Aug 2017 14:51:35 GMT
recorded_with: VCR 3.0.3
