---
http_interactions:
- request:
    method: post
    uri: https://api.linkedin.com/v1/people/~/shares?oauth2_access_token=AQUTbsX08lw9jpB0Bh3Rbyc2xsMpS8o6U6nG24ureQOFsumDUqAFcUqd_rUNo3_AURj7xZ-uKdLSqLbGaz_RaKs1uTDZyacIl1cAcVL9wQZ_PF9vgKcMTMISOHaOshEzvdcEvqkNDiuqjVz-3-GHJIUfuRSxPxG2EHuMiwLRaWav2p7DXENnlVIHtJOAA-JTFFIFUjwVXR_2mFGkanvqAsgym5G3E6BEmc7IcNT0f6e8jJIVL1944Y-U_WdzojvCVDss77JFIKWDsY45W2MqY_jz8mHYSkvrHXSsFKC4dIzTubIcahwayRfAmGFKtxnyvywSJtnQ0C237hy_c0S4vjTl-ql5Eg
    body:
      encoding: UTF-8
      string: '{"visibility":{"code":"anyone"},"content":{"title":"","submitted-url":"https://rockcontent.com","submitted-image-url":"https://s3-us-west-2.amazonaws.com/rc2-development/img/branco.jpg"},"comment":"My
        post"}'
    headers:
      X-Li-Format:
      - json
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Li-Request-Id:
      - 9RCWYF6G20
      Location:
      - https://api.linkedin.com/v1/pal/people/~/network/updates/key=UPDATE-319248707-6402981718801813504
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-esp2
      X-Li-Proto:
      - http/1.1
      X-Li-Route-Key:
      - '"b=VB07:g=1717:u=387:i=1526589803:t=1526597670:s=AQEczQoFFlxv-GsBw0IJznpLSR9Shtvy"'
      X-Li-Uuid:
      - IO+malaJLxVQLWKaVCsAAA==
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "updateKey": "UPDATE-319248707-6402981718801813504",
          "updateUrl": "https://www.linkedin.com/updates?discuss=&scope=319248707&stype=M&topic=6402981718801813504&type=U&a=C9xP"
        }
  recorded_at: Thu, 17 May 2018 20:43:23 GMT
recorded_with: VCR 4.0.0
