---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/companies?is-company-admin=true&oauth2_access_token=invalid_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Li-Request-Id:
      - BMWQKFW7IJ
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - prod-ltx1
      X-Li-Pop:
      - prod-esp2-yeah
      X-Li-Proto:
      - http/1.1
      X-Li-Route-Key:
      - '"b=TB15:g=962:u=1:i=1496677284:t=1496763684:s=AQH-tbwXwmkNc7Z3pmsm8ACrai6k0Hnk"'
      X-Li-Uuid:
      - KesUag9ExRRA78smVCsAAA==
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errorCode": 0,
          "message": "Invalid access token.",
          "requestId": "BMWQKFW7IJ",
          "status": 401,
          "timestamp": 1496677284417
        }
  recorded_at: Mon, 05 Jun 2017 15:41:24 GMT
recorded_with: VCR 3.0.3
