---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/me/photos
    body:
      encoding: UTF-8
      string: access_token=invalid_token&caption=My+post&url=http%3A%2F%2Fwww.example.com%2Fthumbnail.jpg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"F6nEgy33Fs5"}}'
  recorded_at: Mon, 26 Jun 2017 18:03:16 GMT
recorded_with: VCR 3.0.3
