---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=1402025279892242&client_secret=b485778c2b36fc9e7f6be32b13f8deac&fb_exchange_token=invalid_token&grant_type=fb_exchange_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"BPvISrEuCjc"}}'
  recorded_at: Mon, 24 Jul 2017 17:25:34 GMT
recorded_with: VCR 3.0.3
